<div class = 'row'>
<div class = 'col-lg 8'>
<aside id = "my_invoice">

<h3>My Invoice place holder</h3>

<% if session[:products].empty? %>

    <p>No invoice at this time</p>
    
    <% else %>
        
    <%@count= @cart_products.size
    @tax= 0
    @subtotal=0
    @total_pst =0
    @total_gst =0
    @total_hst =0%>
 
     <h1>Invoice for : <%= @customer.first_name %> I am the order</h1>
 
     <%#<form method="post" class="form-horizontal" action="/products/create_order" role="form" > %>
     <%= form_tag({controller: "order", action:"preview"},method: "post") %>

      <ul>
        <% @cart_products.each do |product| %>
      
         <%#@tax_total = product.price * @tax%>
          <%#@product_with_tax= product.price + @tax_total%>

           <% if @province.gst.present?%>
              <%@tax+=product.price* @province.gst.round(2) %>
              <%  @total_gst+=product.price* @province.gst.round(2) %>   
           <% end%>

            <% if @province.pst.present?%>
                <%@tax+= product.price* @province.pst.round(2)  %>
                   <%  @total_pst+=product.price* @province.pst.round(2) %>   
            <% end%>
            
            <% if @province.hst.present?%>
                 <%@tax+= product.price* @province.hst.round(2) %>
                    <%  @total_hst+=product.price* @province.hst.round(2) %>   
            <% end%>
            
          <li>
            <p>product name<%= product.name %></p>
            <p>product description<%= product.description %></p>
            <p>product price<%=number_to_currency( product.price) %></p>
               
              <%@subtotal+=product.price%>       
 
            <div class="form-group">
              <%= field_name = ('quantity'+product.id.to_s)
                      label_tag field_name, nil, class: "col-sm-2 control-label" %>
                      
                         <%@qty=field_name%>
                         <p><%=@qty%></p>
              <div class="col-sm-4">
                <%= text_field_tag field_name, nil, class: "form-control" %>
              </div>
            </div>

          </li>
              
        <% end  %>
      </ul>
      <p>total of products <%=number_to_currency(@subtotal)%></p>
      <p>total for all tax <%=number_to_currency(@tax)%></p>
      
      <%if @province.pst.present?%>
        <p>total pst <%= number_to_currency(@total_pst)%></p>
      <%end%>
      
         <%if @province.gst.present?%>
                <p>total gst <%=number_to_currency(@total_gst)%></p>
         <%end%>
        
         <%if @province.hst.present?%>
            <p>total hst <%= number_to_currency(@total_hst)%></p>
         <%end%>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= submit_tag 'Submit', class: 'btn btn-success' %>   
      
    </div>
  </div>
<% end %>

</aside>
  </div>
</div>

