<aside id = "my_invoice">

<h3>My Invoice place holder</h3>

<% if session[:products].empty? %>

    <p>No invoice at this time</p>
    
    <% else %>
        
    <%@count= @cart_products.size%>
   
  <% if @province.gst.present?%>
   <p>Province: <%= @province.gst.round(2) %></p>
  <% end%>
  <% if @province.pst.present?%>
   <p>Province:  <%= @province.pst.round(2) %></p>
  <% end%>
 <% if @province.hst.present?%>
    <p>Province: <%= @province.hst.round(2) %></p>
 <% end%>
 
     <h1>Invoice for : <%= @customer.first_name %></h1>
  <%@tax= @province.pst.round(2) + @province.gst.round(2) %>
 
      <ul>
        <% @cart_products.each do |product| %>
         <%@tax_total = product.price * @tax%>
          <%@product_with_tax= product.price + @tax_total%>
          <li>
            <%= product.name %>
          </li>
           <li>
             <%= product.description %>    
          </li>
          <li>
          <p>  <%= number_to_currency(product.price)  %> x <%= @tax%> plus<%=@tax_total%></p>
          </li>
          
         
            <li>
          <p>product with tax:   <%= @product_with_tax.round(2)%></p>
          </li>
              
        
      </ul>
        <% end  %>

<% end %>
</aside>
 