
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product%></li>
      <li><%= product.price.to_f%></li>
      <li><%= product.description%></li>
      <br>
      <li><%= number_to_currency product.price%></li>
      <br>
     
    <%end%>
  </ul>
  <p> <%= link_to "New Product", new_product_path %></p>
 
<!--product_path(id:product.id)-->