<div class="container">
  <form class="form-horizontal" role="form" form action="" method="POST" id="payment-form">
  <fieldset>
						
  <legend>Customer Details</legend>
  
	 <div class="form-group">								
  <label for="name"class="col-sm-3 control-label" >First Name</label>
  <input type="text" class="form-control" placeholder="Enter First Name" required autofocus />
 
  <label for ="lastname"class="col-sm-3 control-label">Last Name</label>
  <input type="text" class="form-control" placeholder="Enter Last Name" required autofocus />
 
								
  
  <label for="address"class="col-sm-3 control-label">Address</label>
  <input type="text" class="form-control"  placeholder="Enter Street Address" required/>
  
  <label for="city" class="col-sm-3 control-label">City</label>
  <input type="text" class="form-control" placeholder="Enter City" required/>
  
    <label for="province"  class="col-sm-3 control-label">Province</label>              
              
               <select class="form-control col-sm-2" name="expiry-month" id = "prov">
                <option>Province</option>
                <option value="01">Alberta</option>
                <option value="02">British Columbia</option>
                <option value="03">Manitoba</option>
                <option value="04">New Brunswick</option>
                <option value="05">Newfoundland</option>
                <option value="06">Nova Scotia</option>
                <option value="07">Prince Edward Islnd</option>
                <option value="08">Ontario</option>
                <option value="09">Yukon</option>
                <option value="10">Northwest Territories</option>
                <option value="11">Quebec</option>
                <option value="12">Nunuvut</option>
                 <option value="13">Saskatchewan</option>
              </select>
          
            </hr><br><br><br>
    
  <label for="country" class="col-sm-3 control-label">Country</label>
 <input type="text" class="form-control" placeholder="Enter Country" required />
    
    <label for="postal"class="col-sm-3 control-label">Postal Code</label>
      <input type="text" class="form-control" placeholder="Example r3t4g4" required />
    

  </fieldset>

   <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button type="button" class="btn btn-success">Enter</button>
        </div>
      </div>
    </form>
  
 
</div>
         
         <div>
         <%= form_tag order_path do %>
  <article>
    <label class="amount">
      <span>Amount: in charges$5.00</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="500">
    
  </script>
          
          <form action="" method="POST" id="payment-form">
  <span class="payment-errors"></span>

  <div class="form-row">
    <label>
      <span>Card Number charges/new.html.erb</span>
      <input type="text" size="20" data-stripe="number"/>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>CVCrrrrrr</span>
      <input type="text" size="4" data-stripe="cvc"/>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>Expirationrrrrrr (MM/YYYY)</span>
      <input type="text" size="2" data-stripe="exp-month"/>
    </label>
    <span> / </span>
    <input type="text" size="4" data-stripe="exp-year"/>
  </div>

  <button type="submit">Submit Payment where???</button>
</form>
<% end %>

 </div>




<div>

<%= form_tag @customer do %>
 

  <div class="field">
    <%= label_tag :first_name %><br>
    <%= text_field_tag :first_name %>
  </div>
  <div class="field">
    <%= label_tag :last_name %><br>
    <%= text_field_tag :last_name %>
  </div>
  <div class="field">
    <%= label_tag :email_address %><br>
    <%= text_field_tag :email_address %>
  </div> 
 <div class="field">
    <%= label_tag :province_id%><br>
  <%= text_field_tag :province_id %>
  </div>
  
  
 
 <br>
  
  <div class="actions">
    <%= submit_tag %>
  </div>
  
 
  
   <div>
    
      <%= render 'my_products' %>
   </div>
  
  
<% end %>

