<div>

<%if @customer.present?%>
  <%else%>
<%= form_tag @customer , method: :post, :class => "form-horizontal", :role => 'form' do %>
 
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
    
    </div>
  </div>
  
  <div class="form-group">
    <%= label_tag :first_name, nil, class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= text_field_tag :first_name, nil, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= label_tag :last_name, nil, class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%=  text_field_tag :last_name, nil, class: "form-control" %>
    </div>
  </div>
    <div class="form-group">
    <%= label_tag :email_address, nil, class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%=  text_field_tag :email_address, nil, class: "form-control" %>
    </div>
  </div>
    <div class="form-group">
    <%= label_tag :address, nil, class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%=  text_field_tag :address, nil, class: "form-control" %>
    </div>
  </div>
     <div class="form-group">
    <%= label_tag :city, nil, class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%=  text_field_tag :city, nil, class: "form-control" %>
    </div>
  </div>
     <div class="form-group">
    <%= label_tag :province, nil, class: "col-sm-2 control-label" %>
    <div class="col-sm-4">     
       <%= select_tag :province_id, options_from_collection_for_select(@provinces, 'id', 'name') , class: "form-control"%><br
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= submit_tag 'Submit', class: 'btn btn-success' %>
    </div>
  </div>
  <% end %>

<%end%>

</div>







