<h1> Search Results for <%= params[ :status] %></h1>


<% if @new %>
  <p><%= pluralize(@new.size, 'product') %> found</p>
 <%= render @new %>


<% elsif @sale %> 
 <p><%= pluralize(@sale.size, 'product') %> found</p>
 <%= render @sale %>
<%else%>
  <p>No items matched your search</p>
   
 <%end%>
 
 