
<%= render @product %>

<!--<%= render partial: "product", object: @product %>-->
<!--<p><%= link_to "Delete This Product", @product, method:"delete" %></p>-->

<p><%= link_to "Home", root_path%></p>
<%= image_tag @product.image.url if @product.image?%>